body {
background-color: lightblue;
}
div {
  // These styles are for aesthetics only.
  font-size: 18px
  line-height: 1.3em
  vertical-align: top
  margin-bottom: 1em
  border-radius: 0.5em
  padding: 1em
  // This insures everything up to the border
  // is included in the width
  box-sizing: border-box
  // The default width of my divs
  width: 45%
}
.ib {
    display: inline-block;
}
#left {
  margin-right: 700px;
  border: 2px solid black;
  background-color: violet;
  text-align: center;
  display: inline-block;
}
#right {
  margin-left: 800px;
  border: 2px solid black;
  background-color: violet;
  text-align: center;
  display: inline-block;
}
