body {
background-color: lightblue;
}
#left {
  border: 2px solid black;
  background-color: violet;
  text-align: center;
  float: left
}
#right {
  border: 2px solid black;
  background-color: violet;
  text-align: center;
  float: right;
}
