#flash {  
     width: 428px; /**video size 428 x 240**/  
     height: 270px; /** +30px **/  
     padding-top: 30px;  
     background:#000 url(flash_frame_image.jpg) no-repeat;  
     text-align: center;  
}
